* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #253763;
}

li {
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    flex-direction: column;
}

header {
    padding-bottom: 24px;
}

.profile-bio {
    text-align: center;
}

header .profile-picture {
    border-radius: 50%;
    display: block;
    margin: 0 auto 24px;
    max-width: 300px;
    width: 100%;
    border: 2px solid black;
}

header .profile-name {
    font-size: 24px;
    margin-bottom: 12px;
}

.profile-sub {
    font-size: 18px;
    margin: 12px;
}



.social-links {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
}

.social-links img {
    transition: all ease 0.2s;
}

.social-links li img:hover {
    transform: scale(1.2);
}